/* Add a red background color to the top navigation */
html,
body {
  background-color: rgb(252, 251, 249);
  color: black;
  height: 100%;
  margin: 30px;
  padding: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.active a {
  background-color: #156ee2;
  color: #ffff;
}

.topnav {
  background-color: rgb(219, 19, 19);
  color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;

  color: white;
  text-align: center;
  margin-inline: 90px;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
}


img {
  Padding: 10px, 10px, 10px, 10px;
  border: 1px solid black;
  margin: 10px;
  max-width: 100%;
  float: auto;
  height: auto;
  display: inline;
}

p {
  margin: 0 0 0 10px;
  padding: 0;
  line-height: 1.5em;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: black;
}


h3 {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#numlist {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: bold;
}

#list {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}



#footer1 {

  font-size: 20px;
  font-weight: bold;
  border-top: 1px solid #F2F2F2;
}